/* Define the custom font */
@font-face {
  font-family: 'CustomFont';
  src: url('../../Assets/fonts/futura/Futura Book font.ttf') format('truetype');
  /* You might need to add more src formats (e.g., woff2, woff, etc.) for better browser compatibility */
}

/* Container styles */
.website-container {
  display: flex;
  background-color: #252B48;
  padding: 5%;
  margin-top: 5%;
  border-radius: 50px;
}



@import"./Esai";

@import "./Main";

@import"./Nav";

@import "./Responsive"; // Without the file extension
// Other global styles