/* Define the custom font */
@font-face {
  font-family: 'CustomFont';
  src: url('../../Assets/fonts/futura/Futura Book font.ttf') format('truetype');
  /* You might need to add more src formats (e.g., woff2, woff, etc.) for better browser compatibility */
}

/* Container styles */
.website-container {
  display: flex;
  background-color: black;
  padding: 1%;
  align-items: center;
  margin-top: 7%;
}

.esai-container {
  display: flex;
  margin: auto;
  img {
    border: #800020 solid 4px;
    border-radius: 100px;
    width: 100%; /* Make the image responsive */
    max-width: 400px;
    height: auto;
  }
  caption{
    font-family: 'CustomFont', sans-serif; /* Use the custom font, and fallback to a generic sans-serif font */
    color: white;
  }
}

/* Apply the custom font to your container */
.main-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  font-family: 'CustomFont', sans-serif; /* Use the custom font, and fallback to a generic sans-serif font */
  border: solid 1px #e1ad01;
  padding: 1%;
  border-radius: 10px;
  margin: auto;
  font-size: 20px;
  color: white;
}

/* Custom navbar */
.nav-container {
  display: flex;
  flex-direction: column;
  font-family: 'CustomFont', sans-serif;
  text-align: center;
  border-radius: 10px;
  border: solid #0a481e;
  margin: auto;

  main {
    display: flex;
    flex-direction: column;
    font-family: 'CustomFont', sans-serif;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    margin: auto;

    h3 {
      margin: 5% auto;
      padding: 20px;
      border: 2px outset;

      &:hover {
        border-radius: 10px;
        background-color: #800020;
        border-style: inset;
      }
    }
  }

  header {
    border-radius: 10px;
    padding: 1rem;
    color: white;
  }
}
